* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 375px;
  margin: auto;
  padding: 48px 24px 72px;
  background: linear-gradient(to bottom, transparent 200px, #FAFAFA 200px);
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url('/assets/img/Bitmap.jpg');
}

.header {
  margin-bottom: 40px;
}

.header div {
  width: 325px;
  height: 20px;
  display: flex;
  justify-content: end;
  gap: 196px;
  align-items: center;
}

.header h1 {
  width: 108.14px;
  color: #FFFFFF;
}

.header img {
  width: 19.32px;
  height: 20px;
  color: #FFFFFF;
}

.input {
  width: 327px;
  padding-block: 14px;
  padding-inline: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
}

.task-form {
  display: flex;
  gap: 12px;
  align-items: center;
}

#input-button {
  width: 20px;
  height: 20px;
  border: 1px solid #E3E4F1;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
}

#input-button:hover {
  background-color: rgb(35, 142, 37);
}

#input-text {
  width: 250px;
  border: none;
  outline: none;
}

.content {
  width: 327px;
  padding-inline: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
}

.content-items {
  width: 287px;
  padding-block: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid #E3E4F1;
}

#content-item-todo {
  width: 20px;
  height: 20px;
  border: 1px solid #E3E4F1;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
}

.content-items a {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Josefin Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.1666666716337204px;
  text-align: left;
  color: #494C6B;
  text-decoration: none;
}

#content-item-delete {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #FFFFFF;
}

#content-item-delete img {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.info {
  width: 327px;
  padding: 16px 20px 20px 20px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.info p {
  width: 59px;
  font-family: Josefin Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.1666666716337204px;
  text-align: left;
  color: #9495A5;

}

#clear-all {
  height: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #FFFFFF;
  color: #9495A5;
}

.inactive {
  display: flex;
  gap: 19px;
  justify-content: center;
  background-color: #FFFFFF;
  padding-block: 16px 20px;
  color: #9495A5;
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.1944444477558136px;
  text-align: left;
  margin-bottom: 40px;
}

.footer-text {
  width: 327px;
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.1944444477558136px;
  text-align: center;
  color: #9495A5;
}

@media (width > 375px) {

  .container {
    width: 1440px;
    padding: 70px 450px 52px;
    background: linear-gradient(to bottom, transparent 300px, #FAFAFA 300px);
  }

  .container::before {
    height: 300px;
    background-image: url('/assets/img/Bitmap-big.jpg');
  }

  .header div {
    width: 541px;
    height: 48px;
    justify-content: space-between;
  }

  .header h1 {
    width: 167px;
    font-family: Josefin Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 15px;
    text-align: left;
  }

  .header img {
    width: 21px;
    height: 21px;
  }

  .input {
    width: 540px;
    padding: 20px 24px;
    gap: 24px;
    margin-bottom: 24px;
  }

  .task-form {
    gap: 24px;
  }

  #input-button {
    width: 24px;
    height: 24px;
  }

  #input-text {
    width: 440px;
  }

  .content {
    width: 540px;
    padding-inline: 24px;
  }

  .content-items {
    width: 492px;
    padding-block: 19px;
    gap: 24px;
  }

  #content-item-todo {
    width: 26px;
    height: 24px;
  }

  .content-items a {
    width: 510px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
  }

  #content-item-delete img {
    display: none;
  }

  .content-items:hover #content-item-delete img {
    display: block;
    width: 20px;
    height: 20px;
  }

  .info {
    width: 540px;
    margin-bottom: 49px;
    padding-inline: 24px;
  }

  .info p {
    width: 69px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.1944444477558136px;
  }

  #clear-all {
    width: 105px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.1944444477558136px;
    text-align: right;
    color: #494C6B;
  }

  .inactive {
    display: none;
  }

  .footer-text {
    width: 540px;
  }
}